/* base styling for our button */
.btn {
  font-family: $font1;
  color: black;
  background-color: white;

  &.btn-rounded { border-radius: $shape; }

  &.btn-contained { border: 1px solid rgb(207 60 60); }
  &.btn-outlined { border: 1px solid rgb(60 207 104); }
  &.btn-text { border: 1px solid rgb(60 62 207); }
}
